<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://ricardotest2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ricardotest2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$ricardotest2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:y6n5myhs01.database.windows.net,1433;Initial Catalog=ricardodb2;User ID=calito@y6n5myhs01;Password=Hola123*" Name="Data Source=tcp:y6n5myhs01.database.windows.net,1433;Initial Catalog=ricardodb2;User Id=calito@y6n5myhs01;Password=Hola123*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RicardoTest2.Models.UsersContext, RicardoTest2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RicardoTest2.Models.DbModel" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:y6n5myhs01.database.windows.net,1433;Initial Catalog=ricardodb2;User ID=calito@y6n5myhs01;Password=Hola123*" Name="Data Source=tcp:y6n5myhs01.database.windows.net,1433;Initial Catalog=ricardodb2;User Id=calito@y6n5myhs01;Password=Hola123*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RicardoTest2.Models.DbModel, RicardoTest2" MigrationConfiguration="RicardoTest2.Migrations.Configuration, RicardoTest2" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y6n5myhs01.database.windows.net,1433;Initial Catalog=ricardodb2;User Id=calito@y6n5myhs01;Password=Hola123*</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RicardoTest2.Models.DbModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:y6n5myhs01.database.windows.net,1433;Initial Catalog=ricardodb2;User Id=calito@y6n5myhs01;Password=Hola123*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="RicardoTest2.Models.DbModel" />
  </ItemGroup>
</Project>